{{ if isset .Site.Params "fee_schedule" }}
{{ if .Site.Params.fee_schedule.enable }}
<section class="bar background-image-fixed-2 no-mb color-white text-center">
    <style>
        * {
            box-sizing: border-box;
        
        }
        
        .columns {
            float: left;
            width: 25%;
            max-width: 300px;
            padding: 8px;
        }
        
        .price {
            list-style-type: none;
            border-radius: 20px;
            margin: 0;
            padding: 0;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            position: relative;
            max-width: 600px;
            width: 90%;
            display: inline-block;  
        }
        
        .price .header {
            background-color: #111;
            color: white;
            font-size: 25px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        
        .price li {
            border-bottom: 1px solid #eee;
            padding: 20px;
            text-align: center;
        }
        
        .price .grey {
            background-color: #eee;
            font-size: 20px;
        }

        .price .white {
            background-color: #fff;
            font-size: 20px;
        }
        
        .price .grey2 {
            background-color: #eee;
            font-size: 20px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }
        
        .button {
            border-radius: 50px;
            background-color: #7fb79e;
            border: none;
            color: white;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            font-size: 18px;
        }
        
        @media only screen and (max-width: 600px) {
            .columns {
                width: 100%;
            }
        }
    </style>
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="icon icon-lg"><i class="{{ .Site.Params.fee_schedule.icon }}"></i>
                </div>
                <h3 class="text-uppercase">{{ .Site.Data.fees.fees.title }}</h3>
                <p class="lead">{{ .Site.Data.fees.fees.text }}</p>
                <p class="text-center">
                    <a href="{{ .Site.Params.fee_schedule.link_url }}" class="btn btn-template-transparent-black btn-lg">{{ .Site.Data.fees.fees.button_text }}</a>
                </p>
                <br>
                <div>
                    <ul class="price">
                    <li class="header" style="background-color:#7fb79e;">Fees</li>
                    <li class="grey"><b>${{ .Site.Data.fees.fees.term }} / Term</b></li>
                    <li class="white"><b>Membership</b><br>${{ .Site.Data.fees.fees.membership }} / year</li>
                    <li class="white"><b>Working Bee Levy</b><br>${{ .Site.Data.fees.fees.working_bee }} / Year<br>{{ .Site.Data.fees.fees.working_bee_policy }}</li>
                    <li class="white"><b>Maintenance Levy</b><br>${{ .Site.Data.fees.fees.maintenance }} / Year<br>{{ .Site.Data.fees.fees.maintenance_policy }}</li>
                    <li class="grey2"><a href="https://www.samfordkindergarten.com.au/fees/" class="button">More Info</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}