{{ if isset .Site.Data.config.config "latitude" }}
  {{ if isset .Site.Data.config.config "longitude" }}
      <div class="hidden">
        <input id="gmap-lat" value="{{ .Site.Data.config.config.latitude }}" />
        <input id="gmap-lng" value="{{ .Site.Data.config.config.longitude }}" />
        <input id="gmap-marker" value="{{ .Site.BaseURL }}img/marker.png" />
        {{ if isset .Site.Params "direction" }}
          <input id="gmap-dir" value="{{ .Site.Params.direction }}" />
        {{ else }}
          <input id="gmap-dir" value="{{ .Site.Data.config.config.latitude }},{{ .Site.Data.config.config.longitude }}" />
        {{ end }}
      </div>
      <div id="map" />
  {{ end }}
{{ end }}
