{{ if isset .Site.Params "qld_approved" }}
{{ if .Site.Params.qld_approved.enable }}

<section class="bar background-pentagon no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.qld_approved.title }}</h2>
                </div>
                <p class="lead">
                  {{ .Site.Params.qld_approved.subtitle | markdownify }}
                </p>
                <ul class="owl-carousel qld_approved same-height-row">
                </ul>
            </div>

        </div>
    </div>
</section>

{{ end }}
{{ end }}
