{{ if isset .Site.Params "supporters" }}
{{ if .Site.Params.supporters.enable }}
<section class="bar background-gray no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Data.sponsors.title }}</h2>
                </div>
                <center>
                <p class="lead">
                  {{ .Site.Data.sponsors.text }}
                </p>
                {{ if gt (len .Site.Data.supporters.companies) 0 }}
                <ul class="owl-carousel customers">
                    {{ range .Site.Data.supporters.companies }}
                    <li class="item" title="{{ .name }}">
                        {{ if .url }}
                          <a href="{{ .url }}" target="_blank">
                            <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                          </a>
                        {{ else }}
                          <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                        {{ end }}
                    </li>
                    {{ end }}
                </ul>
                <!-- /.owl-carousel -->
            </center>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
